<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PEP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<applicationSettings>
		<PEP.Properties.Settings>
			<setting name="conexaoLBW" serializeAs="String">
				<value>user=lbw;password=lbw;udb=defudb;server=localhost</value>
			</setting>
			<setting name="UsuarioGoldenIndex" serializeAs="String">
				<value>adm</value>
			</setting>
			<setting name="SenhaGoldenIndex" serializeAs="String">
				<value>sysadm</value>
			</setting>
			<setting name="PortaGoldenIndex" serializeAs="String">
				<value>8085</value>
			</setting>
			<setting name="UriGoldenIndex" serializeAs="String">
				<value>GoldenIndex.soap</value>
			</setting>
			<setting name="ProtocoloGoldenIndex" serializeAs="String">
				<value>http</value>
			</setting>
			<setting name="MaquinaGoldenIndex" serializeAs="String">
				<value>localhost</value>
			</setting>
			<setting name="CaminhoDoRepositorioProntuario" serializeAs="String">
				<value>C:\Users\anderson\Documents\Visual Studio 2008\Projects\PEP\PEP\arquivos\</value>
			</setting>
		</PEP.Properties.Settings>
	</applicationSettings>
</configuration>
